<script src="/nowjs/now.js"></script>
<script type="text/javascript" src="javascripts/coffee-script.js"></script>
<script type="text/coffeescript" src="javascripts/wb.coffee"></script>
<style>
* { margin: 0; padding: 0;}

html, body { height: 100%; width: 100%; }

#board {
    display: block;
		border:1px solid #c3c3c3;
		width: 500;
		height: 500;
}
</style>
<h1><%= title %></h1>
<div>
	<div>
		Color: 
		<select id="color_select">
		  <option value="black">Black</option>
		  <option value="red">Red</option>
		  <option value="green">Green</option>
		  <option value="blue">Blue</option>
			<option value="white">Eraser</option>
		</select>
	</div>

	<div>
	Size: 
		<select id="size_select">
		  <option value="2">2</option>
		  <option value="5" selected="true">5</option>
		  <option value="8">8</option>
		  <option value="11">11</option>
			<option value="30">30</option>
			<option value="50">50</option>
		</select>
	</div>
	<canvas width="500" height="500" id="board">
	</canvas>
</div>